{% sw_extends '@Storefront/storefront/page/product-detail/review/review-item.html.twig' %}

{% block page_product_detail_review_item_info_verify %}{% endblock %}

{% block page_product_detail_review_item_meta_published %}
{% endblock %}

{% block page_product_detail_review_item_info_date %}
{% endblock %}

{% block page_product_detail_review_item_info_points %}
<div class="product-detail-review-item-header">
    {% endblock %}

    {% block page_product_detail_review_item_title %}
</div>
{% endblock %}

{% block page_product_detail_review_item_info %}
{% endblock %}
